<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="${currentdir}\logs\internallog.txt">
	
  <targets>
    <target name="logfile" xsi:type="File"
				autoReload="true"
				fileName="${currentdir}\logs\${date:format=dd-MM-yyyy}.txt"
				layout="${longdate} ${message}"/>
	  
	  <!-- Second target: logs to log2.log -->
	  <target xsi:type="File" 
			  name="fileTarget2" 
			  fileName="${var:logFilePath2}" 
			  layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <rules>
    <logger name="logger1" minlevel="Debug" writeTo="logfile" />
	  <logger name="logger2" minlevel="Debug" writeTo="fileTarget2" />
  </rules>
</nlog>