@model UserLoginViewModel

<form asp-action="Login" asp-controller="Home" method="post">
    <div>
        <label asp-for="Username">Username</label>
        <input asp-for="Username"/>
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" />
    </div>
    <button type="submit">Submit</button>
</form>